$tesla-black: #000;
$tesla-green: #12bb00;
$tesla-red: #ed4e3b;
$tesla-yellow: #fbb01b;
$color-warning: #cc7f00;
$tesla-blue30: #3e6ae1;
$tesla-blue20: #3457b1;
$tesla-blue10: #2e4994;
$tesla-blue: #3399ff;
$tesla-grey: #777;
$tesla-white: #fff;
$color-bg: #f7f7f7;
$tesla-grey70: #f4f4f4;
$tesla-grey60: #eeeeee;
$tesla-grey50: #d0d1d2;
$tesla-grey40: #a2a3a5;
$tesla-grey30: #5c5e62;
$tesla-grey20: #393c41;
$tesla-grey10: #171a20;
