
/* You can add global styles to this file, and also import other style files */

html,body {
    overflow: hidden;
    height:100%;
}

.card {
    padding: 15px;
    font-size: 13px;
}

.card-left {
    float: left;
    color: #0c0c0c;
}

.card-right {
    float: right;
    color: #777777;
}

.card-item-1 {
    color: #0c0c0c;
}

.card-item-2 {
    font-size: 17px;
    color: #0c0c0c;
}

.capitalize {
   text-transform: capitalize;
}


